.dashboard-container {
    padding: 20px;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 60px auto 0;
    display: flex;
    flex-direction: column;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    max-height: 50vh;
    overflow-y: auto;
    flex-grow: 1;
}

.todo-item {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-item h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #333;
}

.todo-item p {
    margin: 5px 0;
    color: #666;
}

.todo-item button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #c8e471;
    color: #333;
    cursor: pointer;
}

.todo-item button:hover {
    background-color: #a4c249;
}

.todo-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.create-todo-form {
    display: flex;
    flex-direction: column;
}

.create-todo-form .form-group {
    margin-bottom: 15px;
}

.create-todo-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.create-todo-form input,
.create-todo-form select,
.create-todo-form textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.create-todo-form button {
    padding: 10px;
    background-color: #c8e471;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-todo-form button:hover {
    background-color: #a4c249;
}

/* Filters */
.filters {
    display: flex;
    position: absolute;
    top: -40px;
    left: 0;
}

.filters button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    margin-right: -1px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.filters .active {
    background-color: #c8e471;
    color: #333;
}

.filters button:not(.active):hover {
    background-color: #f0f0f0;
}

.date-title {
    text-align: center;
    margin-top: 2px;
    font-family: 'Pacifico', cursive;
    color: #333;
    font-size: 1.5rem;
}

.view-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    font-family: 'Pacifico', cursive;
    margin-top: 20px;
}

/* Remove circles from nested list items */
.todo-date-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Tooltip styles */
.todo-button[data-tooltip] {
    position: relative;
}

.todo-button[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 0.75rem;
}

/* Create To-Do button */
.create-todo-button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #c8e471;
    color: #333;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.create-todo-button:hover {
    background-color: #a4c249;
}

.create-todo-button[data-tooltip] {
    position: relative;
}

.create-todo-button[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 0.75rem;
}

.create-todo-form .form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.create-todo-form .form-group-reminder input[type="checkbox"] {
    width: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}


.reminder-time {
    display: flex;
    align-items: center;
}

.reminder-time select {
    margin-right: 5px;
}

.form-group-reminder {
    display: flex;

}

/* Minimal scrollbar styles */
.todo-list::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.todo-list::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.todo-list::-webkit-scrollbar-thumb {
    background-color: #c8e471; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #f1f1f1; /* Padding around the scrollbar */
}

