/* Styles for the Navbar */
.navbar {
    background-color: #fdf1f1;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo {
    height: 40px;
    cursor: pointer;
}

.kadince-logo {
    height: 40px;
}

.navbar-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #333;
    margin: 0;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-link {
    margin-right: 20px;
    font-size: 1rem;
    color: #333;
    text-decoration: none;
}

.navbar-link:hover {
    color: #a4c249;
}

.navbar-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: #555;
}
